*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body-container{
    background-color: rgba(0, 0, 0, 0.79);
    padding: 2rem;
    border-radius: 20px;
    max-width: 1000px;
    width: 70vw;
    min-width: 700px;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dado {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

h1 {
    margin: 30px;
    text-shadow: 5px 0 black;
    font-size: 4.5rem;
    color: white;
    text-align: center;
}
h3{
    margin: 30px;
    text-shadow: 5px 0 black;
    font-size: 4.5rem;
    text-align: center;
}
p {
    font-size: 2rem;
    color: white;
}

img {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.butn {
    background: green;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}
.tu-dado{
    color: blue;
}
.pc-dado{
    color: red;
}